
Mytheme:
! Colores del esquema

*foreground: #c5c8c6
*background: #171514

! Colores de las 16 entradas para aplicaciones basadas en Xresources

*color0:     #222222
*color1:     #bd2a2a
*color2:     #4ebc29
*color3:     #bc9729
*color4:     #294ebc
*color5:     #9729bc
*color6:     #29bcbc
*color7:     #cecece
*color8:     #888888
*color9:     #d64343
*color10:    #68d643
*color11:    #d6b143
*color12:    #4368d6
*color13:    #b143d6
*color14:    #43d6d6
*color15:    #ffffff

! Cursor
Xcursor.theme: Bibata-Modern-Ice
Xcursor.size: 24

! Terminal y otras configuraciones
*.termName: xterm-256color
*.vt100.locale: true
*.vt100.saveLines: 4096
*.visualBellLine: true
*.vt100.faceName: xft:JetBrains Mono:bold:size=13

! Configuraciones de URxvt
URxvt.font: xft:JetBrains Mono:bold:size=13
URxvt.letterSpace: -1
URxvt.scrollBar: false
URxvt.iso14755: false

! Extensiones de Perl para URxvt
urxvt.perl-ext-common: default,resize-font
URxvt.keysym.C-minus: resize-font:smaller
URxvt.keysym.C-equal: resize-font:bigger
URxvt.keysym.C-plus: resize-font:reset


